<!DOCTYPE html>
<html>
<%- partial('kael/head') %>
<!-- <% if (typeof page.title == 'undefined') { %>-->
<!--<body class="home-template">-->
<!--<% } else { %>-->
<!--<body class="post-template">-->
<!--<% } %>-->
  <%- body %>
  <%- partial('kael/footer') %>
  <%- partial('kael/after_all') %>
</body>
</html>
